<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/alsea-river-drift-creek-pelican.jpg"
	thumbURL="thumbs/alsea-river-drift-creek-pelican.jpg"
	linkURL="images/alsea-river-drift-creek-pelican.jpg"
	linkTarget="_blank"
	sourcePath="images/alsea-river-drift-creek-pelican.jpg"

>
    <title><![CDATA[]]></title>
    <caption><![CDATA[Brown pelicans were only recently removed from the Endangered Species Act list. Photo: Thomas Knoop]]></caption>
  </image>
  <image imageURL="images/alsea-river-drift-creek.jpg"
	thumbURL="thumbs/alsea-river-drift-creek.jpg"
	linkURL="images/alsea-river-drift-creek.jpg"
	linkTarget="_blank"
	sourcePath="images/alsea-river-drift-creek.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The Alsea River estuary holds some of the best remaining coho spawning habitats. Photo: Russ Schnitzer]]></caption>
  </image>
  <image imageURL="images/blue-creek-p26.jpg"
	thumbURL="thumbs/blue-creek-p26.jpg"
	linkURL="images/blue-creek-p26.jpg"
	linkTarget="_blank"
	sourcePath="images/blue-creek-p26.jpg">
    <title><![CDATA[blue-creek-p26]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/eel-river-google-earth.jpg"
	thumbURL="thumbs/eel-river-google-earth.jpg"
	linkURL="images/eel-river-google-earth.jpg"
	linkTarget="_blank"
	sourcePath="images/eel-river-google-earth.jpg">
    <title><![CDATA[eel-river-google-earth]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/eel-river.jpg"
	thumbURL="thumbs/eel-river.jpg"
	linkURL="images/eel-river.jpg"
	linkTarget="_blank"
	sourcePath="images/eel-river.jpg">
    <title><![CDATA[eel-river]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/elk-river-coho.jpg"
	thumbURL="thumbs/elk-river-coho.jpg"
	linkURL="images/elk-river-coho.jpg"
	linkTarget="_blank"
	sourcePath="images/elk-river-coho.jpg">
    <title><![CDATA[elk-river-coho]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/elk-river-p31.jpg"
	thumbURL="thumbs/elk-river-p31.jpg"
	linkURL="images/elk-river-p31.jpg"
	linkTarget="_blank"
	sourcePath="images/elk-river-p31.jpg">
    <title><![CDATA[elk-river-p31]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/elk-river.jpg"
	thumbURL="thumbs/elk-river.jpg"
	linkURL="images/elk-river.jpg"
	linkTarget="_blank"
	sourcePath="images/elk-river.jpg">
    <title><![CDATA[elk-river]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gunnison-river-rafters.jpg"
	thumbURL="thumbs/gunnison-river-rafters.jpg"
	linkURL="images/gunnison-river-rafters.jpg"
	linkTarget="_blank"
	sourcePath="images/gunnison-river-rafters.jpg">
    <title><![CDATA[gunnison-river-rafters]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/gunnison-river.jpg"
	thumbURL="thumbs/gunnison-river.jpg"
	linkURL="images/gunnison-river.jpg"
	linkTarget="_blank"
	sourcePath="images/gunnison-river.jpg">
    <title><![CDATA[gunnison-river]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/hoh-river-p2.jpg"
	thumbURL="thumbs/hoh-river-p2.jpg"
	linkURL="images/hoh-river-p2.jpg"
	linkTarget="_blank"
	sourcePath="images/hoh-river-p2.jpg">
    <title><![CDATA[hoh-river-p2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/hoh-river-p3.jpg"
	thumbURL="thumbs/hoh-river-p3.jpg"
	linkURL="images/hoh-river-p3.jpg"
	linkTarget="_blank"
	sourcePath="images/hoh-river-p3.jpg">
    <title><![CDATA[hoh-river-p3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/hood-river-otter.jpg"
	thumbURL="thumbs/hood-river-otter.jpg"
	linkURL="images/hood-river-otter.jpg"
	linkTarget="_blank"
	sourcePath="images/hood-river-otter.jpg">
    <title><![CDATA[hood-river-otter]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/hood-river.jpg"
	thumbURL="thumbs/hood-river.jpg"
	linkURL="images/hood-river.jpg"
	linkTarget="_blank"
	sourcePath="images/hood-river.jpg">
    <title><![CDATA[hood-river]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/john-day-river-fishing.jpg"
	thumbURL="thumbs/john-day-river-fishing.jpg"
	linkURL="images/john-day-river-fishing.jpg"
	linkTarget="_blank"
	sourcePath="images/john-day-river-fishing.jpg">
    <title><![CDATA[john-day-river-fishing]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/john-day-river.jpg"
	thumbURL="thumbs/john-day-river.jpg"
	linkURL="images/john-day-river.jpg"
	linkTarget="_blank"
	sourcePath="images/john-day-river.jpg">
    <title><![CDATA[john-day-river]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/klamath-river-blue-creek-chinook.jpg"
	thumbURL="thumbs/klamath-river-blue-creek-chinook.jpg"
	linkURL="images/klamath-river-blue-creek-chinook.jpg"
	linkTarget="_blank"
	sourcePath="images/klamath-river-blue-creek-chinook.jpg">
    <title><![CDATA[klamath-river-blue-creek-chinook]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/klamath-river-blue-creek.jpg"
	thumbURL="thumbs/klamath-river-blue-creek.jpg"
	linkURL="images/klamath-river-blue-creek.jpg"
	linkTarget="_blank"
	sourcePath="images/klamath-river-blue-creek.jpg">
    <title><![CDATA[klamath-river-blue-creek]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/klamath-river-p28.jpg"
	thumbURL="thumbs/klamath-river-p28.jpg"
	linkURL="images/klamath-river-p28.jpg"
	linkTarget="_blank"
	sourcePath="images/klamath-river-p28.jpg">
    <title><![CDATA[klamath-river-p28]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/klamath-valley-lupines-p32.jpg"
	thumbURL="thumbs/klamath-valley-lupines-p32.jpg"
	linkURL="images/klamath-valley-lupines-p32.jpg"
	linkTarget="_blank"
	sourcePath="images/klamath-valley-lupines-p32.jpg">
    <title><![CDATA[klamath-valley-lupines-p32]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/little-cimarron-river-dry-stretch.jpg"
	thumbURL="thumbs/little-cimarron-river-dry-stretch.jpg"
	linkURL="images/little-cimarron-river-dry-stretch.jpg"
	linkTarget="_blank"
	sourcePath="images/little-cimarron-river-dry-stretch.jpg">
    <title><![CDATA[little-cimarron-river-dry-stretch]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/little-cimarron-river.jpg"
	thumbURL="thumbs/little-cimarron-river.jpg"
	linkURL="images/little-cimarron-river.jpg"
	linkTarget="_blank"
	sourcePath="images/little-cimarron-river.jpg">
    <title><![CDATA[little-cimarron-river]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/lower-deer-creek-falls-hikers.jpg"
	thumbURL="thumbs/lower-deer-creek-falls-hikers.jpg"
	linkURL="images/lower-deer-creek-falls-hikers.jpg"
	linkTarget="_blank"
	sourcePath="images/lower-deer-creek-falls-hikers.jpg">
    <title><![CDATA[lower-deer-creek-falls-hikers]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/lower-deer-creek.jpg"
	thumbURL="thumbs/lower-deer-creek.jpg"
	linkURL="images/lower-deer-creek.jpg"
	linkTarget="_blank"
	sourcePath="images/lower-deer-creek.jpg">
    <title><![CDATA[lower-deer-creek]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/minam-river-p1.jpg"
	thumbURL="thumbs/minam-river-p1.jpg"
	linkURL="images/minam-river-p1.jpg"
	linkTarget="_blank"
	sourcePath="images/minam-river-p1.jpg">
    <title><![CDATA[minam-river-p1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/minam-river-rafting.jpg"
	thumbURL="thumbs/minam-river-rafting.jpg"
	linkURL="images/minam-river-rafting.jpg"
	linkTarget="_blank"
	sourcePath="images/minam-river-rafting.jpg">
    <title><![CDATA[minam-river-rafting]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/minam-river.jpg"
	thumbURL="thumbs/minam-river.jpg"
	linkURL="images/minam-river.jpg"
	linkTarget="_blank"
	sourcePath="images/minam-river.jpg">
    <title><![CDATA[minam-river]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nason-creek-wolf.jpg"
	thumbURL="thumbs/nason-creek-wolf.jpg"
	linkURL="images/nason-creek-wolf.jpg"
	linkTarget="_blank"
	sourcePath="images/nason-creek-wolf.jpg">
    <title><![CDATA[nason-creek-wolf]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/nason-creek.jpg"
	thumbURL="thumbs/nason-creek.jpg"
	linkURL="images/nason-creek.jpg"
	linkTarget="_blank"
	sourcePath="images/nason-creek.jpg">
    <title><![CDATA[nason-creek]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/north-santiam-angler.jpg"
	thumbURL="thumbs/north-santiam-angler.jpg"
	linkURL="images/north-santiam-angler.jpg"
	linkTarget="_blank"
	sourcePath="images/north-santiam-angler.jpg">
    <title><![CDATA[north-santiam-angler]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/north-santiam.jpg"
	thumbURL="thumbs/north-santiam.jpg"
	linkURL="images/north-santiam.jpg"
	linkTarget="_blank"
	sourcePath="images/north-santiam.jpg">
    <title><![CDATA[north-santiam]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/salmon-river-chinook.jpg"
	thumbURL="thumbs/salmon-river-chinook.jpg"
	linkURL="images/salmon-river-chinook.jpg"
	linkTarget="_blank"
	sourcePath="images/salmon-river-chinook.jpg">
    <title><![CDATA[salmon-river-chinook]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/salmon-river.jpg"
	thumbURL="thumbs/salmon-river.jpg"
	linkURL="images/salmon-river.jpg"
	linkTarget="_blank"
	sourcePath="images/salmon-river.jpg">
    <title><![CDATA[salmon-river]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sandy-river-rafters.jpg"
	thumbURL="thumbs/sandy-river-rafters.jpg"
	linkURL="images/sandy-river-rafters.jpg"
	linkTarget="_blank"
	sourcePath="images/sandy-river-rafters.jpg">
    <title><![CDATA[sandy-river-rafters]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sandy-river.jpg"
	thumbURL="thumbs/sandy-river.jpg"
	linkURL="images/sandy-river.jpg"
	linkTarget="_blank"
	sourcePath="images/sandy-river.jpg">
    <title><![CDATA[sandy-river]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/yampa-river-elk.jpg"
	thumbURL="thumbs/yampa-river-elk.jpg"
	linkURL="images/yampa-river-elk.jpg"
	linkTarget="_blank"
	sourcePath="images/yampa-river-elk.jpg">
    <title><![CDATA[yampa-river-elk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/yampa-river.jpg"
	thumbURL="thumbs/yampa-river.jpg"
	linkURL="images/yampa-river.jpg"
	linkTarget="_blank"
	sourcePath="images/yampa-river.jpg">
    <title><![CDATA[yampa-river]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>